html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    background-color: #eee;
}
.myfooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
footer div.container {
    width: auto;
    max-width: 80%;
}
.rtl {
    direction: rtl;
}
#footer3 {
    margin-top: 30px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
}
h4.panel-title a {
    font-size: 15px;
    font-weight: bold;
}
.size85 {
    font-size: 20px;
}
div.panel-group div.panel div.panel-body {
    max-height: 500px;
    overflow-y: scroll;
}
div.panel-body ul {
    padding-right: 10px;
}
div.panel-body ul label{
    font-weight: normal;
}