{% extends 'base.html' %}
{% block extLeft %}{% endblock %}
{% block extRight %}{% endblock %}
{% block branding %}{% endblock %}
{% block containerClass %}{% endblock %}
{% block content %}
	<div class="col-sm-8">
		<div class="rtl irmitra" align="center">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title"><input type="text" class="addproblem" id="problemTitle" placeholder="عنوان سوال را تایپ کنید"></h2>
				</div>
				<div class="panel-body">
					<textarea name="problem"></textarea>
				</div>
				<div class="panel-footer" style="height: 60px;">
					<div class="col-md-1">
						<button class="btn btn-danger" id="clean">از نو</button>
					</div>
					<div class="col-md-1 col-md-offset-10">
						<button class="btn btn-primary" id="submit">ثبت</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="rtl irmitra">
			<div class="panel-group" id="accordion">
				<div class="panel panel-success">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
							   aria-controls="collapseOne">
								پاسخ های چند گزینه ای
							</a>
							<a class="label label-warning navbar-left radio-answer">اضافه کردن</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse {% if panel == 1 or True %}in{% endif %}"
						 role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body radio-answers">

						</div>
					</div>
				</div>
				<div class="panel panel-info">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
							   aria-expanded="false" aria-controls="collapseTwo">
								پاسخ های کوتاه
							</a>
							<a class="label label-warning navbar-left short-answer">اضافه کردن</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse {% if panel == 2 %}in{% endif %}"
						 role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">

						</div>
					</div>
				</div>
				<div class="panel panel-danger">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
							   aria-expanded="false" aria-controls="collapseTwo">
								پاسخ های تشریحی
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse {% if panel == 3 %}in{% endif %}"
						 role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block extra %}
<script charset="utf-8" src="/statics/js/addproblem.js"></script>
{% endblock %}