{% extends 'base.html' %}
{% block extLeft %}{% endblock %}
{% block extRight %}{% endblock %}
{% block branding %}{% endblock %}
{% block content %}
<div class="col-sm-8 col-sm-offset-2">
	<div class="rtl irmitra" style="font-size:18px;">
		<div class="panel panel-primary" align="right">
			{% if create %}
				<div class="panel-heading">ساختن گروه</div>
				<form class="" action="{% url 'createGroup' %}" method="post">{% csrf_token %}
			{% else %}
				<div class="panel-heading">ورود دانشجو به گروه</div>
				<form class="" action="{% url 'loginGroup' 0 %}" method="post">{% csrf_token %}
			{% endif %}

			<div class="panel-body">
				<div class="col-sm-5" style="height:100%">
					<div class="panel panel-primary" align="right">
						<div class="panel-body">
							<textarea name="description" maxlength="1000" class="form-control" placeholder="توضیحات">{{ group.description }}</textarea>
						</div>
					</div>
				</div>
				<div class="col-sm-7">
					<div class="panel panel-primary" align="right">
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-3 col-sm-push-9">
									<div style="vertical-align: middle;display: table-cell; height: 60px; align: center">نام گروه:</div>
								</div>
								<div class="col-sm-9 col-sm-pull-3">
									<div style="vertical-align: middle;display: table-cell; height: 60px;align: center">
										{% if create %}
											<input name="name" type="text" id="inputName" class="form-control"
												   placeholder="تایپ کنید." required autofocus>
										{% else %}
											<span class="label label-success">{{ group.name }}</span>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3 col-sm-push-9">
									<div style="vertical-align: middle;display: table-cell; height: 60px;align: center">مدیر گروه:</div>
								</div>
								<div class="col-sm-9 col-sm-pull-3">
									<div style="vertical-align: middle;display: table-cell; height: 60px; align: center">
										<input name="admin" type="text" id="inputAdmin" class="form-control" value="{{ admin }}{{ group.admin }}"
										   placeholder="تایپ کنید."  autofocus disabled>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3 col-sm-push-9">
									<div style="vertical-align: middle;display: table-cell; height: 60px;align: center">رمز:</div>
								</div>
								<div class="col-sm-9 col-sm-pull-3">
									<div style="vertical-align: middle;display: table-cell; height: 60px; align: center">
										<input name="password" type="password" id="inputPassword"
											   class="form-control" placeholder="تایپ کنید."  {% if create %}disabled{% endif %}>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 col-sm-offset-3">
									{% if create %}
										<button class="btn btn-lg btn-primary btn-block" type="submit">ساختن گروه</button>
									{% else %}
										<button class="btn btn-lg btn-primary btn-block" type="submit">وارد شو</button>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<p>{{ mess }}</p>
			</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}