{% extends 'base.html' %}
{% block navLeft %}{% endblock %}
{% block navRight %}{% endblock %}
{% block content %}
<div class="rtl irmitra">
    {% if success  %}

    <form class="form-signin" action="/user/password_reset/done/" method="post">{% csrf_token %}
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="گذرواژه" required>
        <input name="password2" type="password" id="inputPassword" class="form-control" placeholder="تکرار گذرواژه" required>
        <input type='hidden' name="token" type="text" value='{{ token }}'>
        <input type='hidden' name="user_id" type="text" value='{{ user_id }}'>
        <button class="btn btn-lg btn-primary btn-block" type="submit">تغییر رمز</button>
    </form>
    {% else %}
    <div class="alert alert-success size85">در خواست شما نامعتبر است!</div>
    {% endif %}
    {% endblock %}
</div>