{% extends 'base.html' %}
{% block navLeft %}{% endblock %}
{% block navRight %}{% endblock %}
{% block content %}
    <div class="col-sm-5 col-sm-offset-1">
        <div class="rtl irmitra" align="center">
            <h1>به سایت آزمون گیری خودکار Gosling خوش آمدید</h1>

    {% if success  %}
            <h1>پسورد شما با موفقیت تغییر کرد.</h1>
            <h1>از سمت راست میتوانید وارد سایت شوید.</h1>
    {% else %}
            <div class="alert alert-success size85">در خواست شما نامعتبر است!</div>
    {% endif %}

        </div>
    </div>

{% include "panel.html" %}
{% endblock %}