{% extends 'base.html' %}
{% block extLeft %}{% endblock %}
{% block extRight %}{% endblock %}
{% block branding %}{% endblock %}
{% block content %}
    <div class="col-sm-12">
        <div class="rtl irmitra" style="font-size:18px;">
            <div class="panel panel-primary" align="right">
            <form action="{% url 'selectQuestion' %}" method="post">{% csrf_token %}
            <input type="hidden" value="{{ eID }}" name="eID"/>
            <input type="hidden" value="{{ gID }}" name="gID"/>
                <div class="panel-body">
                    {% for question_info in probs %}
                    <div class="panel panel-primary" align="right">
                        <div class="panel-body">
                            <div class="col-sm-4">توضیحات:
                                {{ question_info.text|safe }}
                            </div>
                            <div class="col-sm-4">سوال:
                                {{ question_info.question }}
                            </div>
                            <div class="col-sm-3">موضوع:
                                {{ question_info.sec }}
                            </div>
                            <div class="col-sm-1">
                                <input type="checkbox" name="check" value="{{ question_info.id }}">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary" style="margin-bottom: 15px; margin-right: 10px">ثبت</button>
            </form>
            </div>
        </div>
    </div>
{% endblock %}