{% extends 'base.html' %}
{% load i18n %}
{% block navLeft %}{% endblock %}
{% block navRight %}{% endblock %}
{% block content %}
    <div class="col-sm-10 col-sm-offset-1">
        <div class="rtl irmitra" align="right">
            <h1>به سایت آزمون گیری خودکار Gosling خوش آمدید</h1>
			
			<p class="irmitra bold" style="font-size: 22px;">
				قوانین وب سایت gosling

<br>0) کلیه حقوق این وب سایت محفوظ است هرگونه تقلید و کپی برداری از ایده وب سایت باعث پیگرد قانونی می شود.
<br>۱) تمامی کاربران می بایست در هنگام ثبت نام در سایت ، از کلمات مناسب جهت استفاده در نام کاربری خود استفاده نمایند. در صورت مشاهده کلمات رکیک و نامناسب، استفاده از شماره موبایل و ... آن كاربر در اولین فرصت حذف خواهد شد و دسترسی وی به سیستم امتحان قطع خواهد شد حتی المقدور نام كاربری را با حروف انگیسی به جای فارسی ایجاد نمایید. همچنین پس از عضویت امكان لغو عضویت توسط كاربر وجود نخواهد داشت. در انتخاب نام کاربری دقت کنید چرا که امکان تغییر نام کاربری بعد از ایجاد آن وجود ندارد.
<br>۲)هر کاربر تنها حق انتخاب و استفاده از یک « شناسه ی کاربری » را دارد و در صورت فعالیت یک کاربر با دو یا چند شناسه ی کاربری همه ی شناسه های کاربری وی بدون اطلاع قبلی مسدود خواهند شد. 
<br>۳) در صورتي كه كلمه عبور خود را فراموش كرديد با استفاده از بخش بازیابی رمز خود را بازيابي نماييد.
<br>۴) تبلیغ هر گونه سایتی و کالایی ممنوع بوده و کاربر متخلف محسوب می شود .
<br>۵) تمام موضوعات باید مربوط به مباحث درسی، تحصیل و در جهت اهداف وب سایت باشد 
<br>۶) استفاده ازهر نوع  کلمه رکیک در پاسخ ها و نظرات ممنوع می باشد . 
<br>۷) هرگونه توهین به کاربران و مدیران سایت ممنوع می باشد .
<br>۸) کاربرانی که اقدام به انشار تصاویر یا مطالب مستهجن کنند و یا به مقامات ایران ، ادیان و اقوام و نژادها توهین کنند مسدود خواهند شد.
<br>۹) برای هر موضوع یک بخش در نظر گرفته شده است. هنگام باز کردن تاپیک جدید دقت لازم را برای مرتبط بودن موضوع تاپیک با بخش مربوطه به کار گیرید.
<br>۱۰) هرگونه فروش سوالات خارج از چهارچوب وب سایت ممنوع می باشد.
<br>۱۱) لطفا در نوشتن از فارسی یا از انگلیسی استفاده کنید و پینگلیش ننویسید در صورتی که کی‌بورد فارسی در دسترس شما نیست، از وب سایت www.behnevis.com استفاده کنید.

<br>تکذیب نامه شماره ۱) مسؤولیت تمامی فایل‌ها و یا تصاویر و ... كه از طریق سایت رد و بدل میشوند بر عهده كاربر فرستنده می‌باشد و سایت در قبال این گونه مسایل هیچ تعهدی در زمینه سالم بودن آنها، ویروسی نبودن آنها و ... ندارد. ما به شما پیشنهاد می‌كنیم حتما پس از دریافت فایل‌ها و ... آنها را قبل از استفاده توسط نرم افزارهایی كه كار ویروس یابی و اسكن فایل‌ها را بر عهده دارند، چك نمایید.
<br>تکذیب نامه شماره ۲) برای امنیت بیشتر جهت گرفتن پاسخ سوال از انجمنها استفاده نمایید در صورتی كه مستقیما با یك كاربر از طریق ایمیل، چت و یا هر طریقه دیگری ارتباط داشته باشید سایت هیچ گونه تعهدی در مقابل بوجود آمدن مشكالات احتمالی نخواهد داشت. 
<br>تکذیب نامه شماره ۳) سایت هیچ گونه مسوولیتی در برابر منطق سوالات مطرح شده و درستی پاسخ های آن ها بر عهده نمی گیرد و هر گونه مسوولیت متوجه فرد طراح سوال است
<br>تکذیب نامه ۴) هر گونه پیغام حاکی از درخواست رمز عبور شما از طرف مدیران سایت کلاهبرداری محسوب می شود و سایت هیچ گونه مسوولیتی در این مورد بر عهده خواهد گرفت

<br>قانون کپی) در صورتی كه می‌خواهید از مباحث و سوال هایی كه در این وبسایت طرح می شود در جایی دیگر و یا در سایت خود استفاده كنید ذكر نام سایت و نام نویسنده مطلب و لینک مطلب الزامیست.
<br>
 با خواندن این قوانین شما مسئولیت رفتار و ارسال‌های خود را در سایت به عهده خواهید گرفت. در صورتی که از قوانین مذکور حمایت نکنید (در صورت امكان) به شما اخطار داده خواهد شد و در صورت تکرار حساب شما از سایت حذف خواهد شد.

با امید به اینکه با به کارگیری قوانین سایت و دستورالعمل‌هایی که در آینده به آنها اضافه خواهد شد بتوانیم رضایت شما کاربر گرامی را جلب کنیم.
</p>
<p class="irmitra bold" style="font-size: 22px;">
	درباره gosling
این سیستم یک سرویس تحت وب برای تسهیل فرآیند آموزش است
هدف این سیستم ایجاد عدالت آموزشی از راه فراهم کردن امکان ارزیابی تحصیلی و آشنایی با نمونه سوالات مختلف برای افراد, بدون توجه به وضعیت اقتصادی و مکان جغرافیایی آن ها است
با ایجاد حساب در این وب سایت شما می توانید در گروه هایی که وجود دارد عضو شوید و یا خود شروع به ایجاد گروه کنید و با طرح سوال به ارزیابی افراد گروهتان بپردازید
با وجود اینکه کاربر در هنگام ثبت نام فقط توانایی ایجاد یک نوع اکانت را دارد اما در عمل می تواند دو نقش متفاوت در مقابل سایر کاربران داشته باشد که هردو این نقش ها توضیح داده می شوند
- معلم: این فرد با ساخت گروه و وارد کردن کاربران به عنوان دانش آموز به گروه خود می تواند از آن ها آزمون بگیرد, پاسخ نامه برای آزمون طراحی کند, نتایج امتحان را به صورت فردی و جمعی برای اعضای گروهش ببیند و در صورت لزوم افراد را به گروه وارد و یا از آن حذف کند و با افراد گروه به صورت جمعی و یا فردی مکالمه کند
- دانش آموز: این فرد می تواند برای عضویت در گروه های درسی ایجاد شده درخواست بفرستد و یا درخواست عضویت های فرستاده شده از طرف کاربران دیگر به عنوان معلم را پاسخ دهد. با عضویت در گروه این فرد می تواند در آزمون های قرار داده شده توسط معلم شرکت کند, نتایج آزمون های خود را ببیند, در صورت صلاحدید معلم نتایج کلی گروه را ببیند و با سایر دانش آموزان عضو گروه تعامل داشته باشد. همچنین کاربران با خرید بسته سوال خارج از گروه هم می توانند از خود امتحان بگیرند

سوالات مطرح شده در این سیستم به سه صورت چهارپاسخی, جاخالی و کوتاه پاسخ می باشد تا امکان تصحیح سریع آزمون توسط سیستم ممکن شود بنابراین در این وبسایت امکان استفاده از سوالات تشریحی وجود ندارد
قابلیت دیگری که در این سیستم وجود دارد طراحی بسته سوال است
افراد علاقه مند و توانا می توانند در حوزه های مختلف به طراحی بسته سوال بپردازند و به صورت رایگان و یا با تعیین قیمت آن ها را در بانک سوال قرار دهند و کاربران دیگر با مراجعه به بانک سوال و انتخاب بسته سوال مورد نظر نسبت به خریداری آن و آزمون گیری از خود بپردازند.

لطفا هر گونه انتقاد,پیشنهاد و شکایات خود را با آدرس ----- در میان یگذارید
با تشکر از حسن انتخاب شما 
</p>
        </div>
    </div>
{% endblock %}