{% extends 'base.html' %}
{% block navLeft %}{% endblock %}
{% block navRight %}{% endblock %}
{% block content %}
    <div class="col-sm-5 col-sm-offset-1">
        <div class="rtl irmitra" align="center">
            <h1>به سایت آزمون گیری خودکار Gosling خوش آمدید</h1>
            <h1>{{ mes }}</h1>
        </div>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
        <div class="rtl irmitra">
            <h1>سلام</h1>
            <div class="panel-group" id="accordion">
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                               aria-controls="collapseOne">
                                نظریت راجع به پر کردن فرم چیه؟
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            {% if fail %}
                                <div class="alert alert-danger size85">{{ message }}</div>
                            {% endif %}
                            {% if success %}
                                <div class="alert alert-success size85">{{ message }}</div>
                            {% endif %}
                            <form class="form-signin" action="/user/do_reg/" method="post">{% csrf_token %}
                                <input name="email" type="email" hidden value="{{ mail }}">
                                <input name="firstname" type="text" class="form-control" placeholder="اسم" required>
                                <input name="lastname" type="text" class="form-control" placeholder="فامیل" required>
                                <input name="password" type="password" id="password" class="form-control" placeholder="گذرواژه" required>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">وارد شو</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}